# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag

# buildtool cache folder
.buildtool/

# SimBiology backup files
*.sbproj.backup
*.sbproj.bak

/Day10/input.txt

/Day10/testinp.txt

/Day11/input.txt

/Day11/testinp.txt

/Day12/input.txt

/Day12/testinp.txt

/Day1/input.txt

/Day1/testinp - Copy.txt

/Day1/testinp.txt

/Day2/input.txt

/Day2/testinp.txt

/Day3/input.txt

/Day3/testinp.txt

/Day4/input.txt

/Day4/testinp.txt

/Day5/input.txt

/Day5/testinp.txt

/Day5/testinp2.txt

/Day6/input.txt

/Day6/testinp.txt

/Day7/input.txt

/Day7/testinp.txt

/Day8/input.txt

/Day8/testinp.txt

/Day9/input.txt

/Day9/testinp.txt
